<section class="content-header" ng-show="!showMenu.MAIN">
	<h1 ng-if="showMenu.UI_NOC" style="color: white;">
		{{configMainMenu.UI_NOC.label}}
	</h1>
	<h1 ng-if="showMenu.UI_PM_E_ASS_TECNICI" style="color: white;">
		{{configMainMenu.UI_PM_E_ASS_TECNICI.label}}
	</h1>
	<h1 ng-if="showMenu.GESTIONE_SPEDIZIONI" style="color: white;">
		{{configMainMenu.GESTIONE_SPEDIZIONI.label}}
	</h1>
</section>

<section id="SectionMain" class="content">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<!-- PRODUCT LIST -->
			<div class="box box-solid box-widget " >
				<div class="row" ng-show="showMenu.MAIN">
					<div class="col-md-6 col-sm-12 col-lg-6 col-xs-12" ng-repeat="(key,value) in configMainMenu" ng-if="value.visibled">
						<div class="small-box {{value.color}}">
							<div ui-sref-if="value.disabled" 
								ui-sref="{{value.url}}" 
								class="inner-body" 
								ng-style="value.disabled ? {'cursor': 'no-drop'}  : {'cursor': 'pointer'}">
								<div class="inner">
									<h4><strong>{{value.label}}</strong></h4>
									<h6 ng-if="value.subLabel"><strong>{{value.subLabel}}</strong></h6>
								</div>
								<div class="icon">
									<div	ng-if="true">
										<span ng-if="value.icon2 === 'fa-search'" class="badge badgeCustom3" style="color: {{value.colorB}};	border: solid 2px {{value.colorB}};">
											<i class="fa {{value.icon2}} dimIcona2"></i>
										</span>
										<span ng-if="value.icon2 !== 'fa-search'" class="badge badgeCustom2" style="color: {{value.colorB}};	border: solid 2px {{value.colorB}};">
											<i class="fa {{value.icon2}} dimIcona2"></i>
										</span>
										<i class="fa {{value.icon}} colorLoghiIcone"></i>
									</div>
								</div>
							</div>
							<a href="javascript:void(0)"
								ng-style="value.disabled ? {'cursor': 'no-drop'}  : {'cursor': 'pointer'}"
								ui-sref="{{value.url}}" ui-sref-if="value.disabled" class="small-box-footer">
								Gestisci <i class="fa fa-arrow-circle-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<div ng-include="'views/alerts.html'"></div>
