<a tabindex="-1">
	<div class="row autosuggestItem">
		<div class="col-sm-1 autosuggestItemIcon"><span class="glyphicon glyphicon-barcode"></span></div>
		<div class="col-sm-11">
			<div class="row autosuggestItemRow">
				<div class="col-sm-3"><span class="autosuggestItemLabel" translate>Description</span><span class="autosuggestItemValue" ng-bind-html="match.model.descrizione   | uibTypeaheadHighlight:query"></span></div>
				<div class="col-sm-3"><span class="autosuggestItemLabel" translate>Sirti code</span><span class="autosuggestItemValue" ng-bind-html="match.model.codiceSirti   | uibTypeaheadHighlight:query"></span></div>
				<div class="col-sm-3"><span class="autosuggestItemLabel" translate>P/N</span><span class="autosuggestItemValue" ng-bind-html="match.model.codiceProdotto | uibTypeaheadHighlight:query"></span></div>
				<div class="col-sm-3"><span class="autosuggestItemLabel" translate>SAP code</span><span class="autosuggestItemValue" ng-bind-html="match.model.sapCode         | uibTypeaheadHighlight:query"></span></div>
			</div>
			<div class="row autosuggestItemRow">
				<div class="col-sm-3"><span class="autosuggestItemLabel" translate>Project</span><span class="autosuggestItemValue" ng-bind-html="match.model.progetto        | uibTypeaheadHighlight:query"></span></div>
				<div class="col-sm-3"><span class="autosuggestItemLabel" translate>Subproject</span><span class="autosuggestItemValue" ng-bind-html="match.model.sottoprogetto   | uibTypeaheadHighlight:query"></span></div>
				<div class="col-sm-3"><span class="autosuggestItemLabel" translate>Final customer</span><span class="autosuggestItemValue" ng-bind-html="match.model.clienteFinale   | uibTypeaheadHighlight:query"></span></div>
				<div class="col-sm-3"><span class="autosuggestItemLabel" translate>Property</span><span class="autosuggestItemValue" ng-bind-html="match.model.proprieta      | uibTypeaheadHighlight:query"></span></div>
			</div>
			<div class="row autosuggestItemRow">
				<div class="col-sm-3"><span class="autosuggestItemLabel" translate>Supplier</span><span class="autosuggestItemValue" ng-bind-html="match.model.fornitore      | uibTypeaheadHighlight:query"></span></div>
				<div class="col-sm-3"><span class="autosuggestItemLabel" translate>Classification</span><span class="autosuggestItemValue" ng-bind-html="match.model.classification  | uibTypeaheadHighlight:query"></span></div>
			</div>
		</div>
	</div>
</a>
