
<form name="fModalViewActivity"  class="non-printable" role="form" autocomplete="off" novalidate>
	<div class="modal-header non-printable" ng-class="$ctrl.chiamante.color">
		<h3 class="modal-title" id="modal-title">{{(stateParamsUI.key ? stateParamsUI.key : stateParamsUI.section) | removeUnderscores}}  - {{$ctrl.givenUrl.title}}</h3>
		<!--<h3 ng-if="$ctrl.tab == ''" class="modal-title" id="modal-title">Entrata Merci - {{$ctrl.chiamante.label}} : {{$ctrl.chiamante.callingEM}} (da togliere)</h3>-->
		<!--<h3 ng-if="$ctrl.tab != ''" class="modal-title" id="modal-title">Entrata Merci - {{$ctrl.chiamante.label}} : {{$ctrl.tab}} (da togliere)</h3>-->
	</div>
	<div class="modal-body non-printable uscita-merci" ng-class="$ctrl.cssSmall"	
		auto-resize-h
		auto-resize-h-event="windowResizeListener::resize"
		auto-resize-h-delta="200" id="modal-body">
		<iframe class="embed-responsive-item" 
			type="text/html" 
			auto-resize-h
			auto-resize-h-event="windowResizeListener::resize"
			auto-resize-h-delta="235" 
			ng-src="{{trustSrc($ctrl.givenUrl.src)}}"
			width="100%" 
			allowfullscreen 
			frameborder="0"
			name="vediAttivitaNewPyr"
			id="vediAttivitaNewPyr"
			>
		</iframe>
	</div>
	<div class="modal-footer" style=" border-top: 3px solid {{$ctrl.chiamante.colorB}};">
		<button class="btn btn-default" ng-click="$ctrl.cancel()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
	</div>
</form>
