<div class="left-panel">
	<span class="glyphicon glyphicon-globe"></span>
</div>
<div class="right-panel">
	<span ng-bind-html="$highlight($getDisplayText())"></span>
	<span ng-bind-html="$highlight(data.NOME)">{{data.NOME}}</span>
	<!--<span ng-bind-html="$highlight(data.COMUNE)"> {{data.CAP}} - {{data.COMUNE}} ({{data.PROVINCIA}})</span>
	<span ng-bind-html="$highlight(data.REGIONE)"> <translate>Region</translate>: {{data.REGIONE}} <translate>Location type</translate>: {{data.TIPO_LOCAZIONE}} </span>
	<span ng-bind-html="$highlight(data.PROPRIETA)"></span>-->
</div>
