
<ol class="breadcrumb">
	<li ng-repeat="step in steps | limitTo:(steps.length-1)" ng-class="{'current':step.ncyBreadcrumb.disabled}">
		<a ng-hide="step.ncyBreadcrumb.disabled" href="{{step.ncyBreadcrumbLink}}"><span class="{{step.ncyBreadcrumb.icon}}"></span> {{step.ncyBreadcrumbLabel}}</a>
		<span ng-show="step.ncyBreadcrumb.disabled"><span class="{{step.ncyBreadcrumb.icon}}"></span> {{step.ncyBreadcrumbLabel}}</span>
	</li>
	<li ng-repeat="step in steps | limitTo:-1" class="current">
		<span class="{{step.ncyBreadcrumb.icon}}"></span> {{step.ncyBreadcrumbLabel}}
	</li>
</ol>
