<header class="main-header">
	<nav class="navbar navbar-static-top">
		<div class="container-fluid">
			<div class="navbar-header" style="margin-left: 1px">
		
				<!-- sezione del logo -->
				<span ui-sref="index" ng-click="clickTipoMenu('MAIN');" style="cursor: pointer;color: white;padding-left: 0px;padding-right: 10px;">
					<!--<img src="images/navbar-sirti4.png" class="logoSirti" style="margin-top:  5px; margin-left: 5px;">-->
					
					
						<div style="float: left">
							<img src="images/pyramide_2_w.png" style="height: 50px">
						</div>
						<div style="float: left;padding-top: 4px;padding-left: 4px;">
							<span style="font-size: 15px;font-weight: bold;">Inventario</spanspan>
							<hr style="width: 100%; color: black; height: 0px; background-color:black; margin-top: 1px;margin-bottom: -1px" />
							<span style="font-size: 10px;font-weight: normal;">Pyramide 2.0</span>
						</div>
					
						
						<!--
						<div style="float: left">
							<img src="images/navbar-sirti-small.png" class="logoSirti" style="margin-top: 11px;height: 32px;">
						</div>
						<div style="float: left;padding-top: 4px;padding-left: 4px;">
							<span style="font-size: 15px;font-weight: bold;">Polarys 2.0
							
								<img src="images/polarys_v2.png" style="height: 23px;">
							
							</span>
							<hr style="width: 100%; color: black; height: 0px; background-color:black; margin-top: 1px;margin-bottom: -1px" />
							<span style="font-size: 10px;font-weight: normal;padding-left: 3px;">Pyr Mtz Noc Master</span>
						</div>
						-->
		
				</span> <!-- sezione del logo - fine -->
		
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
					<i class="fa fa-th"></i>
				</button>
			</div>
	
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbar-collapse">
				
								
				<ul class="nav navbar-nav"> <!-- sezione del menu a tendina -->
					<li class="dropdown">
						
						<a href="javascript.void(0)" class="dropdown-toggle" data-toggle="dropdown">
							<i class="fa fa-bars"></i>
							<!--<span class="caret"></span>-->
						</a>
						<ul class="dropdown-menu" role="menu" style="width: 250px !important;background: whitesmoke">
							
							<!--<li class="divider"></li>
							
							<li class="dropdown-submenu">
								<a class="test" tabindex="-1" href="#"><span style="font-size: 15px;color: {{configMainMenu.UI_NOC.colorB}}">
									<i class="fa {{configMainMenu.UI_NOC.icon2}}"></i>&nbsp;&nbsp;{{configMainMenu.UI_NOC.label}}
								</span></a>
								<ul class="dropdown-menu" style="width: 250px !important;background: whitesmoke">
									<div ng-repeat="(key,value) in configGestSped" ng-if="configGestSped[key].visibled">
										<li>
											<a
												ng-style="configGestSped[key].disabled ? {'cursor': 'no-drop'}  : {'cursor': 'pointer'}"
												href="javascript.void(0)" ui-sref="{{configGestSped[key].url}}"
												ui-sref-if="configGestSped[key].disabled"
												style="padding-left: 5px;color: {{configGestSped[key].colorB}}">
													<i class="fa {{configGestSped[key].icon2}}" ng-if="configGestSped[key].icon2 && configGestSped[key].name !='SPED_RESTITUZIONE_MAT_PROPRIETARIO'"></i>
													<i class="fa {{configGestSped[key].icon}}" ng-if="configGestSped[key].icon && !configGestSped[key].icon2 && configGestSped[key].name !='SPED_RESTITUZIONE_MAT_PROPRIETARIO'"></i>
													<i class="fa {{configGestSped[key].icon4}}" ng-if="configGestSped[key].name =='SPED_RESTITUZIONE_MAT_PROPRIETARIO'"></i>
													&nbsp;&nbsp;{{configGestSped[key].label}}
											</a>
										</li>											
										<li ng-show="configGestSped[key].divider" class="divider"></li>
									</div>
								</ul>
							</li>-->

							<li>
								<a class="test" tabindex="-1" href="javascript.void(0)" ui-sref="{{configMainMenu.UI_ANOMALIE_INVENTARIO.url}}">
									<span style="font-size: 15px;color: {{configMainMenu.UI_ANOMALIE_INVENTARIO.colorB}}">
										<i class="fa {{configMainMenu.UI_ANOMALIE_INVENTARIO.icon}}"></i>&nbsp;&nbsp;{{configMainMenu.UI_ANOMALIE_INVENTARIO.label}}
									</span></a>
							</li>

							<!--<li class="divider"></li>
							
							<li>
								<a class="test" tabindex="-1" href="javascript.void(0)" ui-sref="{{configMainMenu.UI_NUOVO_INTERVENTO.url}}">
									<span style="font-size: 15px;color: {{configMainMenu.UI_NUOVO_INTERVENTO.colorB}}">
										<i class="fa {{configMainMenu.UI_NUOVO_INTERVENTO.icon}}"></i>&nbsp;&nbsp;{{configMainMenu.UI_NUOVO_INTERVENTO.label}}
									</span></a>
							</li>-->

						</ul>
					</li>
				</ul> <!-- sezione del menu a tendina - fine -->
				
				<div class="navbar-custom-menu">
					
					<ul class="nav navbar-nav">

						<li class="dropdown user user-menu">
							<a href="javascript.void(0)" class="dropdown-toggle" data-toggle="dropdown">
								<i class="glyphicon glyphicon-user"></i>
								<span class="">{{userProfile.nome}} {{userProfile.cognome}}</span>
							</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header" style="height: 90px !important;">
									<p>
										<!--<small>Member since Nov. 2012</small>-->
										<small ng-if="userProfile.nomeUtente === 'ROOT'">ROOT</small>
										<small ng-if="profilo.PM">PROJECT MANAGER</small>
										<small ng-if="profilo.AT">ASSISTENTE TECNICO</small>
										<small ng-if="profilo.MG">MAGAZZINIERE</small>
									</p>
								</li>
								<!-- Menu Body -->
								<li class="user-body" style="/*! height: auto !important; */width: auto !important;/*! min-width: 201px !important; *//*! min-height: 100px !important; */overflow-y: auto;height: 200px;">
									<label>Gruppi Operatore:</label>
									<div class="row" style="height: auto !important;width: auto !important">
										<div ng-repeat = "gruppoOp in userProfile.gruppi" class="col-xs-12">
											<span>{{gruppoOp}}</span>
										</div>
									</div>
									<!-- /.row -->
								</li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-right">
										<a href="{{linkLogOut}}"><i class="fa fa-sign-out fa-2x"></i></a>
									</div>
									<div class="pull-left">
										<a href="javascript:void(0)" ui-sref="index"> <i class="fa fa-home fa-2x"></i> </a>
									</div>
								</li>
							</ul>
						</li>
	
					</ul>
				</div> <!-- sezione utente - fine -->


		
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</header>