<div class="container-fluid">
	<div class="row">
		<!-- Riepilogo informazioni attivitÃ  -->
		<div ng-class="{'col-sm-6': activity.info.actionView ,'col-sm-12': activity.info.actionView}">
			<h4>
				<translate>Activity Summary</translate>
				<button	ng-click="refresh(permessoLavori)"
					ng-disabled="refreshing"
					type="button"
					uib-tooltip="{{'Refresh Activity' | translate}}"
					tooltip-append-to-body="true"
					class="btn btn-xs btn-default"><!--  ng-class="{ 'btn-default': !refreshing, 'btn-warning': refreshing }"> -->
					<span class="glyphicon glyphicon-refresh" ng-class="{ 'glyphicon-refresh-animate': refreshing }"></span>
				</button>
			</h4>

			<div>
				<table class="table table-condensed table-bordered small">
					<tr class="row">
						<th class="col-sm-4 text-muted text-right">Id</th>
						<td class="col-sm-8">{{ activity.id }}</td>
					</tr>
					<tr class="row">
						<th class="col-sm-4 text-muted text-right"><translate>Type</translate></th>
						<td class="col-sm-8">{{ activity.info.type }}</td>
					</tr>
					<tr class="row">
						<th class="col-sm-4 text-muted text-right"><translate>Description</translate></th>
						<td class="col-sm-8">{{ activity.info.description }}</td>
					</tr>
					<tr class="row">
						<th class="col-sm-4 text-muted text-right"> <translate>Current Status</translate></th>
						<td class="col-sm-8">
							<h4 style="margin-top: 0; padding: 0"><span class="label label-{{ activity.info.permitColor }}" >{{ activity.info.status | removeUnderscores }}</span></h4>
							<em	ng-if="activityTypeStatuses[activity.info.status].description !== activity.info.status"
									class="text-muted">
								{{ activityTypeStatuses[activity.info.status].description }}
							</em>
						</td>
					</tr>
					<tr class="row">
						<th class="col-sm-4 text-muted text-right"><translate>Created By</translate></th>
						<td class="col-sm-8">{{ activity.info.creationUserObj.lastName | propertyBeautifier }} {{ activity.info.creationUserObj.firstName | propertyBeautifier}}</td>
					</tr>
					<tr class="row">
						<th class="col-sm-4 text-muted text-right"><translate>Creation Date</translate></th>
						<td class="col-sm-8">{{ activity.info.creationDate|artDateToStrDateTime }}</td>
					</tr>
					<tr class="row">
						<th class="col-sm-4 text-muted text-right"><translate>Modified By</translate></th>
						<td class="col-sm-8">{{ activity.info.ownerObj.lastName }} {{ activity.info.ownerObj.firstName }}</td>
					</tr>
					<tr class="row">
						<th class="col-sm-4 text-muted text-right"><translate>Last Modify Date</translate></th>
						<td class="col-sm-8">{{ activity.info.lastVarDate|artDateToStrDateTime }}</td>
					</tr>
					<tr ng-if="activity.info.currentUserObj.lastName || activity.info.currentUserObj.firstName" class="row">
						<th class="col-sm-4 text-muted text-right"><translate>Managed By</translate></th>
						<td class="col-sm-8" ng-if="activity.info.currentUser">{{ activity.info.currentUserObj.lastName }} {{ activity.info.currentUserObj.firstName }}</td>
						<td class="col-sm-8" ng-if="!activity.info.currentUser"><em>nobody</em></td>
					</tr>
				</table>
				<!-- Elenco activity property -->
				<div ng-if="propertyGroups.length > 0 && activity.info.type !== 'BUILDING_LC'">

					<h4><span class=""></span> <translate>Activity properties</translate></h4>

					<div ng-repeat="group in propertyGroups">

						<h5 ng-if="group.group">{{group.group}}</h5>

						<table class="table table-condensed table-bordered small">

							<tr ng-repeat="property in group.properties" ng-if="!property.notYetUsed" class="form-group has-feedback row" ng-class="{ 'has-warning': checkForDirty(property.name) ,'has-error': (form[property.name].$invalid) && form[property.name].$touched }">

								<th class="col-sm-4 text-muted text-right">
									{{ property.name | CustTranslate }}
								</th>

								<td class="col-sm-8">
									<activity-property type="{{activityTypeProperties[property.name].type}}" value="property.value"></activity-property>
								</td>

							</tr>
						</table>
					</div>
				</div>
				<div ng-if=" activity.properties && activity.info.type === 'BUILDING_LC'">
					<h4><span class=""></span> <translate>Activity properties building</translate></h4>
					<div ng-repeat="group in propertyGroups">
						<h5 ng-if="group.group">{{group.group}}</h5>
						<table class="table table-condensed table-bordered small" ng-if="group.properties.length > 0">	
							<tr ng-repeat="property in group.properties" ng-if="!property.notYetUsed && property.value && group.properties.length" class="form-group has-feedback row" ng-class="{ 'has-warning': checkForDirty(property.name) ,'has-error': (form[property.name].$invalid) && form[property.name].$touched }">
								<th class="col-sm-4 text-muted text-right"> {{ property.name | CustTranslate }}</th>
								<td class="col-sm-8"> <activity-property type="{{activityTypeProperties[property.name].type}}" value="property.value"></activity-property> </td>
							</tr>
						</table>
					</div>
				</div>	
			</div> <!-- end-of-content -->

		</div><!-- end-of-left column -->

		<!-- Interazioni -->
		<div ng-if="activity.info.actionView" class="col-sm-6">

			<div ng-show="activity.info.isClosed">

				<h4>
					<translate>Permit area results</translate>
				</h4>

				<alert uib-alert type="{{ activity.info.permitColor }}">
					<div ng-if="activity.info.status === 'CHIUSA'">
						<h3><i class="glyphicon glyphicon-ok-circle"></i> <translate>Closed permit area</translate></h3>
						<!-- pulsante di stampa rapportino -->
						<p>&nbsp;</p>
						<p>
							<a	ng-if="activity.properties.RAPPORTINO_GENERATO === '1'"
								ng-click="downloadRapportino()"
								ng-disabled="downloadRapportinoInCorso"
								class="btn btn-lg btn-success"
								style="min-width: 50%"
								href>
			  					<i class="fa fa-file-pdf-o fa-3x pull-left"></i>
								<span><big><strong translate>Permit report</strong></big></span><br>
								<span ng-if="!downloadRapportinoInCorso">(Click to download)</span>
								<span ng-if="downloadRapportinoInCorso">
									<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
									<translate>Please wait...</translate>
								</span>
							</a>
						</p>
					</div>

					<div ng-if="activity.info.status !== 'CHIUSA'">
						<h3><i class="glyphicon glyphicon-remove-circle"></i> <translate>Permit status</translate> <span class="label label-{{activity.info.permitColor}}">{{ activity.info.status | removeUnderscores }}</span></h3>
						<p ng-if="activityTypeStatuses[activity.info.status].description !== activity.info.status">
							<em>{{ activityTypeStatuses[activity.info.status].description }}</em>
						</p>
						<dl>
							<dt><translate>Date</translate></dt>
							<dd>{{ activity.info.closureDate | artDateToStrDate }}</dd>
							<dt ng-if="activity.properties['publicPermitCategory']"><translate>Category</translate></dt>
							<dd ng-if="activity.properties['publicPermitCategory']">{{ activity.properties['publicPermitCategory'] }}</dd>
							<dt ng-if="activity.properties['privatePermitCategory']"><translate>Category</translate></dt>
							<dd ng-if="activity.properties['privatePermitCategory']">{{ activity.properties['privatePermitCategory'] }}</dd>
						</dl>
					</div>

				</alert>

			</div>

			<!-- azioni -->
			<div ng-show="!activity.info.isClosed">

				<!-- Elenco azioni possibili -->
				<div ng-show="actionsKeys.length === 0 && !selectedAction">
					<h4 class="text-warning">
						<i class="fa fa-exclamation-triangle"></i>
						<translate>No action</translate>
					</h4>
					<p translate>
						Your profile does not allow you to submit any action.
					</p>
					<p translate>
						Please wait until someone else with sufficient privilegies (or the system itself in case of automated steps) transitions the activity.
					</p>
				</div>

				<!-- Elenco azioni possibili -->
				<div ng-show="actionsKeys.length !== 0 && !selectedAction">

					<h4>
						<i class="fa fa-edit"></i>
						<translate>Edit activity...</translate>
					</h4>

					<!-- Visualizzazione azioni -->
					<div class="list-group">
						<a	ng-repeat="action in actionsKeys"
							ng-click="selectAction(action)"
							class="list-group-item"
							href>
							<h4 class="list-group-item-heading"><i class="fa fa-chevron-right"></i> {{ action | removeUnderscores }}</h4>
							<p	ng-if="activityTypeActions[action].description !== action"
								class="list-group-item-text text-muted">
								<em>{{ activityTypeActions[action].description }}</em>
							</p>
						</a>
					</div>
				</div>

				<!-- Pannello/form per eseguire lo step -->
				<div ng-show="selectedAction">

					<h4>
						<i class="fa fa-edit"></i>
						<translate>Selected action</translate><!-- : <span class="label label-primary">{{ selectedAction | removeUnderscores }}</span> -->
					</h4>

					<div class="list-group">
						<a ng-click="selectAction()" href="javascript:void(0)" class="list-group-item active cursor-pointer">
							<span class="pull-right">
								<button ng-click="selectAction()" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							</span>
							<h4 class="list-group-item-heading"><i class="fa fa-chevron-down"></i> {{ selectedAction | removeUnderscores }}</h4>
							<p	ng-if="activityTypeActions[selectedAction].description !== selectedAction"
								class="list-group-item-text text-muted">
								{{ activityTypeActions[selectedAction].description }}
							</p>
						</a>
					</div>

					<div class="col-sm-10 col-sm-offset-1">

						<form class="form-horizontal small css-form" name="stepForm" novalidate>

							<!-- Elenco transition property -->
							<div ng-include="'views/art/activity.step.properties.html'"></div>

							<!-- Descrizione azione -->
							<div class="form-group has-feedback">
								<div class="col-sm-12">
									<label for="inputStepDescription" class="not-mandatory cursor-pointer">Nota</label>
									<textarea	class="form-control input-sm"
												id="inputStepDescription"
												tabindex="{{ inputTabIndex }}"
												placeholder="Descrizione dell'azione intrapresa..."
												name="StepDescription"
												ng-model="transitionData.description"></textarea>
								</div>
							</div>

							<!-- Gestione allegati -->
							<sirti-file-upload	list="attachments"
												url="{{tmpUrl}}"
												content-disposition-form-data-name="attachment"
												on-remove="removeAttachmentService"
												on-idle="uploadIsIdle"
												on-busy="uploadIsBusy"
							></sirti-file-upload>
							<!-- fine Gestione allegati -->

<!-- 							<pre>
							{{attachments | json}}
							</pre> -->

							<button	ng-click="step(permessoLavori)"
									ng-disabled="waitForStep || stepForm.$invalid"
									tabindex="{{ inputTabIndex + 1}}"
									class="btn btn-md btn-success">
								<span class="glyphicon" ng-class="{ 'glyphicon-ok': !waitForStep, 'glyphicon-refresh glyphicon-refresh-animate': waitForStep }"></span>
								<translate>Ok</translate>
							</button>
							<button ng-click="selectAction()"
									ng-disabled="waitForStep"
									tabindex="{{ inputTabIndex + 2 }}"
									class="btn btn-md btn-default">
								<span class="glyphicon glyphicon-remove"></span>
								<translate>Cancel</translate>
							</button>
						</form>

					</div>

				</div>

			</div>

		</div> <!-- end-of-right column -->

	</div> <!-- end-of-row -->

</div>

