
<div class="modal-header bg-light-blue color-palette">
	<button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
	<div ng-if="!dettaglioCaricato"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> <translate>Loading detail...</translate></div>
	<h3 ng-if="dettaglioCaricato" class="modal-title" id="modal-title">{{activity.id}}-{{ activity.info.description.length > 50 ? activity.info.description.substring(0, 50)+'...' : activity.info.description }}</h3>
</div>
<div class="modal-body overflow"
	auto-resize-h
	auto-resize-h-event="windowResizeListener::resize"
	auto-resize-h-delta="200">
	<div ng-if="dettaglioCaricato">
		<!-- STATI ATTIVITA -->
		<div class="row" ng-if="currentTab === 0 && false">
			<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
				<ol class="cd-multi-steps text-top count">
					<li ng-if="!s.isAnyStatus" ng-repeat="s in processStages" class="custom" uib-tooltip="{{( s.name === activity.info.status ? 'Current Status' : '' || s.status === 2 ? 'Visited Status' : '' || s.status === 3 ? 'Error Status' : '')}}"  ng-class="{ 'current': s.name === activity.info.status, 'visited': s.status === 2, 'fault': s.status === 3 }"><em>{{s.name}}</em></li>
				</ol>
			</div>
		</div>
		<div  class="row">
			<div class="col-sm-1">
				<ul class="nav nav-tabs tabs-left">
					<li	ng-repeat="t in tabList | filter:{visibled : true}"
						ng-class="{ 'active': currentTab === $index }"
						ng-style="{ 'border-color-right: red': currentTab === $index }">
						<a href="javascript:void(0)" ng-click="setCurrentTab($index)" title="{{ t.label }}">
							<i class="{{t.icon}} fa-2x"></i>
							<!-- {{ t.label }} -->
						</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-11 overflow"
					auto-resize-h
					auto-resize-h-event="windowResizeListener::resize"
					auto-resize-h-delta="230"
					>
				<div  class="container-fluid"  ng-repeat="t in tabList"  ng-if="currentTab === t.index">
					<div ng-include="t.view"></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" type="button" ng-click="close()"><translate>Close</translate></button>
</div>
