
<span ng-if="(_type === 'MOOKUP' || _type === 'TAGS') && _value.length">
	<ul class="property-list">
		<li ng-repeat="v in _value" class="text-left">{{v}}</li>
	</ul>
</span>
<span ng-if="(_type === 'MOOKUP' || _type === 'TAGS') && !_value.length">
	<i>empty list</i>
</span>

<span ng-if="_type === 'BOOL'">
	<input
		ng-checked="{{_value}}"
		type="checkbox"
		ng-disabled="true">
</span>

<span ng-if="_type === 'MEMO' && !(_value === undefined || _value === null)"
	ng-bind-html="_value|encodeHtmlEntities|nl2br:true">
</span>
<span ng-if="_type === 'MEMO' && (_value === undefined || _value === null)">
	<i>empty value</i>
</span>

<span ng-if="_type === 'ISODAT' && !(_value === undefined || _value === null)">
	{{_value|artDateToStrDateTime}}
</span>
<span ng-if="_type === 'ISODAT' && (_value === undefined || _value === null)">
	<i>empty value</i>
</span>

<span ng-if="_type === 'EMAIL' && !(_value === undefined || _value === null)" style="word-break: break-word;">
	<a href="mailto:{{_value}}">{{_value}}</a>
</span>
<span ng-if="_type === 'EMAIL' && (_value === undefined || _value === null)">
	<i>empty value</i>
</span>

<span ng-if="_type === '_DEFAULT' && !(_value === undefined || _value === null)" style="word-break: break-word;">
	{{_value}}
</span>
<span ng-if="_type === '_DEFAULT' && (_value === undefined || _value === null)">
	<i>empty value</i>
</span>

