<div ng-controller = "ActivityDettaglioFilesCtrl" class="container-fluid">

	<h4>
		<translate>Attachments</translate>
		<button	ng-click="refresh(permessoLavori)"
			ng-disabled="refreshing"
			type="button"
			uib-tooltip="{{'Refresh Activity' | translate}}"
			tooltip-append-to-body="true"
			class="btn btn-xs btn-default"><!--  ng-class="{ 'btn-default': !refreshing, 'btn-warning': refreshing }"> -->
			<span class="glyphicon glyphicon-refresh" ng-class="{ 'glyphicon-refresh-animate': refreshing }"></span>
		</button>
	</h4>

	<div>

		<!-- Messaggio in caso di nessun allegato -->
		<div ng-if="files.length === 0" class="text-muted small" translate>No supplier file available</div>
		
		<!-- Elenco file -->
		<div ng-if="files.length > 0">
			<table class="table table-striped table-bordered table-condensed small">
				<tr>
					<th class="text-right">No.</th>
					<th >Filename</th>
					<th >Size</th>
					<th >Date</th>
					<th >Owner</th>
				</tr>
				<tr ng-repeat="a in files">
					<th class="text-right">{{$index + 1}}.</th>
					<td>
						<span ng-hide="a.ongoing">
							<span class="glyphicon glyphicon-download-alt"></span>
							<a href ng-click="downloadFile(a)">{{a.fileName}}</a>
						</span>
						<span ng-show="a.ongoing">
							<span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
							{{a.fileName}}
						</span>
					</td>
					<td>{{a.size}} Kb</td>
					<td>{{a.transitionDate | artDateToStrDateTime}}</td>
					<td>{{a.ownerFirstName}} {{a.ownerLastName}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>
