<div ng-repeat="property in actions[selectedAction].properties" ng-if="!property.hidden" class="form-group has-feedback" ng-class="{ 'has-error': stepForm[property.name].$invalid && stepForm[property.name].$touched }">
	
	<div class="col-sm-12">
		<label for="input{{property.name}}" class="cursor-pointer" ng-class="{ 'mandatory': property.mandatory, 'not-mandatory': !property.mandatory, 'read-only': property.readOnly }">
		{{property.name|CustTranslate}}
		</label>
		<!-- 
		<span
			ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'TAGS'"
			class="glyphicon glyphicon-question-sign"
			uib-tooltip="Start writing to display suggestions and press ENTER once selected the desired item. To add a non-listed value, press COMMA."
			tooltip-placement="right"
			tooltip-append-to-body="true"
		></span>
		<span
			ng-if="!property.readOnly && (activityTypeProperties[property.name].type == 'LOOKUP' || activityTypeProperties[property.name].type == 'MOOKUP') && activityTypeProperties[property.name].layout == 'AUTOCOMPLETE'"
			class="glyphicon glyphicon-question-sign"
			uib-tooltip="Write at least 3 chars to display suggestions and press ENTER once selected the desired item.{{ activityTypeProperties[property.name].addFromAutocompleteOnly ? '' : ' To add a non-listed value, press COMMA.' }}"
			tooltip-placement="right"
			tooltip-append-to-body="true"
		></span>
		 -->
	</div>
	
	<div class="col-sm-12">

		<activity-property	ng-if="property.readOnly"
							type="{{activityTypeProperties[property.name].type}}"
							value="transitionProperties[property.name]"
							class="form-control text-muted read-only-property">
		</activity-property>

		<textarea	ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'MEMO'"
					class="form-control"
					id="input{{property.name}}"
					tabindex="{{property.tabIndex}}"
					placeholder="{{property.name|CustTranslate}}"
					name="{{property.name}}"
					ng-model="transitionProperties[property.name]"
					ng-required="property.mandatory"></textarea>

		<input	ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'NUMBER' && property.name != 'PERCENTAGE_OF_COMPLETION'"
				type="number"
				integer
				class="form-control"
				id="input{{property.name}}"
				tabindex="{{property.tabIndex}}"
				placeholder="{{property.name|CustTranslate}}"
				name="{{property.name}}"
				ng-model="transitionProperties[property.name]"
				ng-required="property.mandatory"
				min='0'>

		<input	ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'NUMBER' && property.name == 'PERCENTAGE_OF_COMPLETION'"
				ng-model="transitionProperties[property.name]"
				type="text"
				id="input{{property.name}}"
				slider
				options="percentageOptions" />
			
		<div ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'ISODAT'" class="input-group">
			<input
				type="text"
				class="form-control"
				id="input{{property.name}}"
				tabindex="{{property.tabIndex}}"
				placeholder="{{property.name|CustTranslate}} ({{activityTypeProperties[property.name].inputFormat == 'datetime' ? 'dd/MM/yyyy HH:mm:ss': 'dd/MM/yyyy'}})"
				name="{{property.name}}"
				uib-datepicker-popup="{{activityTypeProperties[property.name].inputFormat == 'datetime' ? 'dd/MM/yyyy HH:mm:ss': 'dd/MM/yyyy'}}"
				ng-model="transitionProperties[property.name]"
				is-open="status.openedDt[property.name]"
				ng-required="property.mandatory"
				current-text="{{ 'Today' | translate}}"
				clear-text="{{ 'Clear' | translate}}"
				close-text="{{ 'Close' | translate}}" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="openDt($event, property.name)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</div>

		<input	ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'STRING'"
				type="text"
				class="form-control"
				id="input{{property.name}}"
				tabindex="{{property.tabIndex}}"
				placeholder="{{property.name|CustTranslate}}"
				name="{{property.name}}"
				ng-model="transitionProperties[property.name]"
				ng-required="property.mandatory">

		<input	ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'EMAIL'"
				type="email"
				class="form-control"
				id="input{{property.name}}"
				tabindex="{{property.tabIndex}}"
				placeholder="{{property.name|CustTranslate}}"
				name="{{property.name}}"
				ng-model="transitionProperties[property.name]"
				ng-required="property.mandatory"
				ng-pattern="[a-z0-9!#$%&'+/=?^`{|}~-]+(?:\.[a-z0-9!#$%&'+/=?^`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-][a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-][a-z0-9])?">

		<!-- FIXME: verificare corretto funzionamento -->
		<select	ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'LIST'"
				ng-options="value as value for value in activityTypeProperties[property.name].values"
				class="form-control"
				id="input{{property.name}}"
				tabindex="{{property.tabIndex}}"
				name="{{property.name}}"
				ng-model="transitionProperties[property.name]"
				ng-required="property.mandatory">
		</select>

		<input	ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'BOOL'"
				type="checkbox"
				id="input{{property.name}}"
				tabindex="{{property.tabIndex}}"
				name="{{property.name}}"
				class="cursor-pointer"
				ng-true-value="1"
				ng-false-value="0"
				ng-checked={{transitionProperties[property.name]}}
				ng-model="transitionProperties[property.name]"
				ng-required="property.mandatory">

		<div ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'RADIO'">
			<div class="btn-group">
				<label
					ng-repeat="value in activityTypeProperties[property.name].values"
					class="btn btn-default btn-sm"
					ng-model="transitionProperties[property.name]"
					uib-btn-radio="'{{value}}'"
					ng-required="property.mandatory">
						{{value}}
				</label>
			</div>
		</div>


		<select	ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'POPUP'" 
				ng-options="value for value in activityTypeProperties[property.name].values"
				class="form-control"
				id="input{{property.name}}"
				tabindex="{{property.tabIndex}}"
				name="{{property.name}}"
				ng-model="transitionProperties[property.name]"
				ng-required="property.mandatory"
				ng-change="addNullToSelect(activityTypeProperties[property.name].values, property.mandatory)">
		</select>

		<!-- in ng-options:
			1) ==> valore effettivamente restituito dalla form
				as
			2) ==> testo (label) visualizzato nella select
				for
			3) ==> elemento corrente dell'array iterato
				in
			4) ==> array da iterare
			
		-->
		<select	ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'LOOKUP' && activityTypeProperties[property.name].layout == 'SELECT_CUSTOM' && !activityTypeProperties[property.name].groupBy"
				ng-options="value as value.name for value in activityTypeProperties[property.name].values | lookupFilter:activityTypeProperties[property.name].match:activity"
				class="form-control"
				id="input{{property.name}}"
				tabindex="{{property.tabIndex}}"
				name="{{property.name}}"
				ng-model="transitionProperties[property.name]"
				ng-required="property.mandatory"
				ng-change="addNullToSelect(activityTypeProperties[property.name].values, property.mandatory)">
				<option name="" value="" >-</option>
		</select>
		
		<select	ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'LOOKUP' && activityTypeProperties[property.name].layout == 'SELECT' && !activityTypeProperties[property.name].groupBy"
				ng-options="value[activityTypeProperties[property.name].target] as renderPropertyLabel(value, activityTypeProperties[property.name]) for value in activityTypeProperties[property.name].values | lookupFilter:activityTypeProperties[property.name].match:activity"
				class="form-control"
				id="input{{property.name}}"
				tabindex="{{property.tabIndex}}"
				name="{{property.name}}"
				ng-model="transitionProperties[property.name]"
				ng-required="property.mandatory"
				ng-change="addNullToSelect(activityTypeProperties[property.name].values, property.mandatory)">
				<option name="" value="" >-</option>
		</select>

		<select	ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'LOOKUP' && activityTypeProperties[property.name].layout == 'SELECT' && activityTypeProperties[property.name].groupBy"
				ng-options="value[activityTypeProperties[property.name].target] as renderPropertyLabel(value, activityTypeProperties[property.name]) group by value[activityTypeProperties[property.name].groupBy] for value in activityTypeProperties[property.name].values | lookupFilter:activityTypeProperties[property.name].match:activity"
				class="form-control"
				id="input{{property.name}}"
				tabindex="{{property.tabIndex}}"
				name="{{property.name}}"
				ng-model="transitionProperties[property.name]"
				ng-required="property.mandatory"
				ng-change="addNullToSelect(activityTypeProperties[property.name].values, property.mandatory)">
				<option name="" value="" >-</option>
		</select>

		<select	ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'MOOKUP' && activityTypeProperties[property.name].layout == 'SELECT' && !activityTypeProperties[property.name].groupBy"
				ng-options="value[activityTypeProperties[property.name].target] as renderPropertyLabel(value, activityTypeProperties[property.name]) for value in activityTypeProperties[property.name].values | lookupFilter:activityTypeProperties[property.name].match:activity"
				ng-multiple="true"
				multiselect-dropdown
				multiple
				class="form-control"
				id="input{{property.name}}"
				tabindex="{{property.tabIndex}}"
				name="{{property.name}}"
				ng-model="transitionProperties[property.name]"
				size="10"
				ng-required="property.mandatory">
				<option name="" value="" >-</option>
		</select>

		<select	ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'MOOKUP' && activityTypeProperties[property.name].layout == 'SELECT' && activityTypeProperties[property.name].groupBy"
				ng-options="value[activityTypeProperties[property.name].target] as renderPropertyLabel(value, activityTypeProperties[property.name]) group by value[activityTypeProperties[property.name].groupBy] for value in activityTypeProperties[property.name].values | lookupFilter:activityTypeProperties[property.name].match:activity"
				ng-multiple="true"
				multiselect-dropdown
				multiple
				class="form-control"
				id="input{{property.name}}"
				tabindex="{{property.tabIndex}}"
				name="{{property.name}}"
				ng-model="transitionProperties[property.name]"
				size="10"
				ng-required="property.mandatory">
				<option name="" value="" >-</option>
		</select>

		<div ng-if="!property.readOnly && (activityTypeProperties[property.name].type == 'LOOKUP' || activityTypeProperties[property.name].type == 'MOOKUP') && activityTypeProperties[property.name].layout == 'TABLE'" style="overflow: auto; max-height: 200px">
			<input ng-if="activityTypeProperties[property.name].type == 'MOOKUP'"
				type="text"
				ng-model="relatedTextHiddenField[property.name]"
				id="input{{property.name}}"
				tabindex="{{property.tabIndex}}"
				name="{{property.name}}"
				ng-required="property.mandatory"
				ng-hide="true"
			>
			<table class="table table-bordered table-condensed tdta-table">
				<tr>
					<th class="text-center"><span class="glyphicon glyphicon-check"></span></th>
					<th ng-repeat="header in activityTypeProperties[property.name].values.header" ng-if="!header.hidden">{{header.name}}</th>
				</tr>
				<tr ng-repeat="row in activityTypeProperties[property.name].values.data | lookupFilter:activityTypeProperties[property.name].match:activity">
					<td class="text-center">
						<input
							ng-if="activityTypeProperties[property.name].type == 'MOOKUP'"
							type="checkbox"
							value="{{row[activityTypeProperties[property.name].target]}}"
							ng-checked="transitionProperties[property.name].indexOf(row[activityTypeProperties[property.name].target]) > -1"
							ng-click="toggleElementInArray(transitionProperties[property.name], row[activityTypeProperties[property.name].target], property.name)"
						>
						<input
							ng-if="activityTypeProperties[property.name].type == 'LOOKUP'"
							ng-model="transitionProperties[property.name]"
							type="radio"
							value="{{row[activityTypeProperties[property.name].target]}}"
							ng-required="property.mandatory"
						>
					</td>
					<td ng-repeat="header in activityTypeProperties[property.name].values.header" ng-if="!header.hidden" class="td-{{header.type}}">
						{{row[header.name]}}
					</td>
				</tr>
			</table>
		</div>

		<!-- <pre>{{ transitionProperties[property.name] }}</pre> -->
		<tags-input	ng-if="
				!property.readOnly && 
				(activityTypeProperties[property.name].type == 'LOOKUP' || activityTypeProperties[property.name].type == 'MOOKUP') && 
				activityTypeProperties[property.name].layout == 'AUTOCOMPLETE'
			"
			ng-model="transitionProperties[property.name]"
			display-property="{{ activityTypeProperties[property.name].displayProperty }}"
			key-property="{{ activityTypeProperties[property.name].keyProperty }}"
			name="{{property.name}}"
			input-field-id="input{{property.name}}"
			input-field-tabindex="{{property.tabIndex}}"
			validate-untouched="false"
			class="ti-input-sm"
			type="text"
			placeholder="{{property.name|CustTranslate}}"
			min-length="{{ activityTypeProperties[property.name].minLength }}"
			add-from-autocomplete-only="{{ activityTypeProperties[property.name].addFromAutocompleteOnly }}"
			replace-spaces-with-dashes="false"
			min-tags="{{ property.mandatory ? 1 : 0 }}"
			max-tags="{{ activityTypeProperties[property.name].type == 'LOOKUP' ? 1 : MAX_SAFE_INTEGER }}"
		>
			<auto-complete source="loadTagsAsync(
					$query, 
					property.name, 
					activityTypeProperties[property.name].uri, 
					activityTypeProperties[property.name].context,
					activityTypeProperties[property.name].contextKey
				)"
				display-property="{{ activityTypeProperties[property.name].keyProperty }}"
				min-length="{{ activityTypeProperties[property.name].minLength }}"
				selectFirstMatch="false"
				max-results-to-show="10"
			></auto-complete>
		</tags-input>

		<select	ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'MULTISELECT'"
				ng-options="value for value in activityTypeProperties[property.name].values"
				ng-multiple="true"
				multiple
				class="form-control"
				id="input{{property.name}}"
				tabindex="{{property.tabIndex}}"
				name="{{property.name}}"
				ng-model="transitionProperties[property.name]"
				ng-required="property.mandatory">
		</select>

		<tags-input	ng-if="!property.readOnly && activityTypeProperties[property.name].type == 'TAGS'"
					ng-model="transitionProperties[property.name]"
					display-property="tag"
					input-field-id="input{{property.name}}"
					input-field-tabindex="{{property.tabIndex}}"
					validate-untouched="false"
					class="ti-input-sm"
					type="text"
					placeholder="{{property.name|CustTranslate}}"
					min-length="1"
					add-from-autocomplete-only="false"
					replace-spaces-with-dashes="false"
					min-tags="{{ property.mandatory ? 1 : 0 }}"
			>
			<auto-complete	source="loadTags($query, property.name)"
							display-property="tag"
							min-length="1"
							selectFirstMatch="false"
							max-results-to-show="100"
			></auto-complete>
		</tags-input>

	</div>
	<!-- <pre ng-if="!property.readOnly">{{transitionProperties[property.name]}}</pre> -->

	<!-- - ->
	<pre ng-if="!property.readOnly">
{{ property.name }}
tabIndex   : {{ property.tabIndex }}
$untouched : {{ stepForm[property.name].$untouched }}
$touched   : {{ stepForm[property.name].$touched   }}
$pristine  : {{ stepForm[property.name].$pristine  }}
$dirty     : {{ stepForm[property.name].$dirty     }}
$invalid   : {{ stepForm[property.name].$invalid   }}
$valid     : {{ stepForm[property.name].$valid     }}
$error     : {{ stepForm[property.name].$error     }}
	</pre>
	<!- - -->
				

</div>
