<section id="SectionMain" class="content non-printable tail" ng-controller="gsUiAnomalieInventarioCtrl">

	<script type="text/ng-template" id="editSelezionaInventario.html">
		<a>
			<table style="width: 100%;border: 0px solid black;" border="0">
				<thead>
					<tr>
						<td style="width: 15%;white-space: normal;word-break: break-all;padding-left: 5px;padding-right: 5px;">INVENTARIO</td>
						<td style="width: 15%;white-space: normal;word-break: break-all;padding-left: 5px;padding-right: 5px;">MAGAZZINO</td>
						<td style="width: 40%;white-space: normal;word-break: break-all;padding-left: 5px;padding-right: 5px;">ELENCO AREE</td>
						<td style="width: 30%;white-space: normal;word-break: break-all;padding-left: 5px;padding-right: 5px;">DATA APERTURA</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th style="width: 15%;white-space: normal;word-break: break-all;padding-left: 5px;padding-right: 5px;"><span style="" ng-bind-html="match.model.ID_INVENTARIO"></span> ({{match.model.TOT_ANOMALIE}})</th>
						<th style="width: 15%;white-space: normal;word-break: break-all;padding-left: 5px;padding-right: 5px;">{{match.model.MAGAZZINO_INVENTARIO}}</th>						
						<th style="width: 40%;white-space: normal;word-break: break-all;padding-left: 5px;padding-right: 5px;">{{match.model.ELENCO_AREE}}</th>
						<th style="width: 30%;white-space: normal;word-break: break-all;padding-left: 5px;padding-right: 5px;">{{match.model.DATA_APERTURA}}</th>
					</tr>
				</tbody>
			</table>
			<!--<div class="row" style="padding-left: 5px;padding-right: 5px">
				<div class="col-md-4">
					<label>INVENTARIO</label>
				</div>
				<div class="col-md-4">
					<label>ECCEZIONI</label>
				</div>
				<div class="col-md-4">
					<label>QUARANTENE</label>
				</div>
			</div>
			<div class="row" style="padding-left: 5px;padding-right: 5px">
				<div class="col-md-4">
					<span style="" ng-bind-html="match.model.ID_INVENTARIO"></span> ({{match.model.TOT_ANOMALIE}})
				</div>
				<div class="col-md-4">
					{{match.model.TOT_ECCEZIONI}}
				</div>
				<div class="col-md-4">
					{{match.model.TOT_QUARANTENE}}
				</div>
			</div>-->
			
		</a>
	</script>

	
	<div class="row" auto-resize-h
		auto-resize-h-event="windowResizeListener::resize"
		auto-resize-h-delta="100">
		<div class="col-lg-12 col-md-12 col-xs-12">

			<div class="box" style="border-top-color: {{coloreUI}} !important;">
				<div class="box-header with-border" style="">
					
					<!-- box dei filtri -->

				
						<div class="row form-group" style="">
							
								<!-- Selezionare i Filtri  -->
							<div class="{{classMagazziniEdit}}" class="form-control">
								<label for="listaMagazzini" class="text-muted"><translate>Magazzino</translate>:</label>
								
								<!-- gestione singola magazzino -->
										<div class="input-group">
											<span class="input-group-addon" id="ddt-addon">
												<i ng-class="{'glyphicon glyphicon-refresh glyphicon-refresh-animate small': mostraLoaderMagazzini, 'fa fa-globe': !mostraLoaderMagazzini}"></i>
											</span> 
											<tags-input
												ng-model="modelMagazziniSelezionati"
												display-property="CODICE"
												type="text"
												class="ti-input-sm"
												ng-disabled="checkWarehouse || mostraLoaderGrid || mostraLoaderAutocomplete"
												placeholder="{{'Magazzini' | translate }}"
												min-tags="0"
												name="magazzini"
												id="magazzini"
												add-from-autocomplete-only="true" 
												replace-spaces-with-dashes="true"
												ng-required="true"
												>
												<auto-complete source="loadMagazzini($query)"
															display-property="CODICE"
															min-length="1"
															load-on-focus="false"
															load-on-empty="false"
															highlight-matched-text = "true"
															max-results-to-show="32"
															selectFirstMatch="false"
															ng-disabled="checkWarehouse || mostraLoaderGrid || mostraLoaderAutocomplete"
															load-on-down-arrow = "true"
															template="views/common/actmagazzini.html">
												</auto-complete>
											</tags-input>
											<span ng-hide="checkWarehouse" class="input-group-addon" id="ddt-addon">
												<a href="javascript:void(0)" ng-click="selectAllMagazzini()">
													<i ng-class="{'fa fa-minus': selectAllMag, 'fa fa-plus': !selectAllMag}"></i>
													<translate>All</translate>
												</a>
											</span>
											<span ng-show="checkWarehouse" class="input-group-addon" id="ddt-addon">
												<i class="fa fa-check"></i>
											</span> 
										</div>
							
							</div>
							<!-- tolto ng-style=" modelMagazziniSelezionati && !ListHeaderHandling.dataApertura && {'border-color' : 'red'}"-->
							<div class="col-md-3">
								<label for="dataDal" class="text-muted"><translate>Data dal</translate>:</label>
								<div class="text-primary" >
									<div class="input-group">
										<a class="input-group-addon input-sm btn"
											href="javascript:void(0)"
											ng-disabled="!modelMagazziniSelezionati || mostraLoaderMagazzini || mostraLoaderGrid || mostraLoaderAutocomplete"
											ng-click="datePicker.dataAperturaOpen()"><i 
											class="glyphicon glyphicon-calendar"></i>
										</a>
										<input id="dataDal" 
										type="text" 
										class="form-control input-sm datepicker" 
										placeholder="{{ 'Data dal' | translate}}" 
										uib-datepicker-popup="{{datePicker.dataAperturaOptions.format}}" 
										datepicker-options="datePicker.dataAperturaOptions" 
										is-open="datePicker.dataAperturaStatus.opened" 
										ng-model="ListHeaderHandling.dataApertura" 
										
										ng-change="datePicker.changeMinAndMaxDates()" 
										ng-required="true" 
										current-text="{{ 'Today' | translate}}"
										clear-text="{{ 'Clear' | translate}}"
										close-text="{{ 'Close' | translate}}"
										ng-readonly="false"
										ng-disabled="!modelMagazziniSelezionati || mostraLoaderMagazzini || mostraLoaderGrid || mostraLoaderAutocomplete" />
									</div>
								</div>
							</div>
							<!-- ng-style="modelMagazziniSelezionati && !ListHeaderHandling.dataChiusura && {'border-color' : 'red'}" -->
							<div class="col-md-3">
								<label for="dataAl" class="text-muted"><translate>Data al</translate>:</label>
								<div class="text-primary" >
									<div class="input-group">
										<a class="input-group-addon input-sm btn"
											href="javascript:void(0)"
											ng-disabled="!modelMagazziniSelezionati || mostraLoaderMagazzini || mostraLoaderGrid || mostraLoaderAutocomplete"
											ng-click="datePicker.dataChiusuraOpen($event)"><i 
											class="glyphicon glyphicon-calendar"></i>
										</a>
										<input id="dataAl" type="text" class="form-control input-sm datepicker" 
											placeholder="{{ 'Data al' | translate}}" 
											uib-datepicker-popup="{{datePicker.dataChiusuraOptions.format}}"
											datepicker-options="datePicker.dataChiusuraOptions" 
											is-open="datePicker.dataChiusuraStatus.opened" 
											ng-model="ListHeaderHandling.dataChiusura"											
											ng-change="datePicker.changeMinAndMaxDates()" 
											ng-required="true" 
											current-text="{{ 'Today' | translate}}"
											clear-text="{{ 'Clear' | translate}}"
											close-text="{{ 'Close' | translate}}"
											ng-readonly="false"
											ng-disabled="!modelMagazziniSelezionati || mostraLoaderMagazzini || mostraLoaderGrid || mostraLoaderAutocomplete"/>
									</div>
								</div>
							</div>



						</div>		
						<!-- box dei filtri -->
						
						

						
						<!-- bottone di search -->
						<div class="row form-group" style="">
							
							<div class="col-md-2" ng-if="true">
								<label class="text-muted"><translate>Inventario</translate>:</label>
								<div class="input-group">
									<span class="input-group-addon input-sm">
										<i ng-class="{'fa fa-cubes' : !mostraLoaderAutocomplete ,
																	'glyphicon glyphicon-remove' : !mostraLoaderAutocomplete && errorAutocomplete,
																	'glyphicon glyphicon-refresh glyphicon-refresh-animate small' : mostraLoaderAutocomplete}"></i>
									</span>
									<!-- tolto dalla condizione di disabled e style: !ListHeaderHandling.dataApertura || !ListHeaderHandling.dataChiusura ||-->
									<input 
										ng-model="ListHeaderHandling.inventario"
										typeahead-template-url="editSelezionaInventario.html"
										uib-typeahead="inventario as inventario.ID_INVENTARIO for inventario in getListaInventari($viewValue)"
										type="text"
										class="form-control input-sm"
										id="{{$ctrl.config[key].name}}"
										placeholder="Inventario"
										ng-value=""
										typeahead-min-length="0"
										ng-model-options="{debounce: 500}"
										typeahead-editable=false
										typeahead-show-hint="true"
										typeahead-append-to-body = "false"
										ng-change="abilitaSearch();"
										ng-style=" (!modelMagazziniSelezionati || mostraLoaderMagazzini || mostraLoaderGrid) && {'background-color' : '#eee'}"
										typeahead-on-select	= "inventarioSelected($item, $model, $label, $event)"
										ng-disabled="!modelMagazziniSelezionati || mostraLoaderMagazzini || mostraLoaderGrid"
										>
								</div>
							</div>
							
							<div class="col-md-2">

								<div class="input-group" style="padding-top:25px;float: left;">
									<button style=""
										ng-disabled="!abilitaSearchBT"
										type="button"
										class="btn btn-default btn-sm"
										ng-click="cercaMateriali();"
										><i class="fa fa-search"></i>&nbsp;Cerca
									</button>
									<button style="margin-left: 5px;"
										ng-disabled="!abilitaSearchBT"			
										type="button"
										class="btn btn-default btn-sm"
										ng-click="resetFiltriCercaMateriali();"
										><i class="glyphicon glyphicon-erase"></i>&nbsp;Reset
									</button>
								</div>

								
							</div>
							
							<!-- tolto dalla condizione di disabled e style: !ListHeaderHandling.dataApertura || !ListHeaderHandling.dataChiusura || -->
							<div class="col-md-4" ng-if="true">
								<label class="text-muted"><translate>Stato</translate>:</label>
								<div class="input-group">
									
									<div class="btn-group btn-group-sm">
										<button ng-disabled="!ListHeaderHandling.inventario || !modelMagazziniSelezionati || mostraLoaderMagazzini || mostraLoaderGrid || mostraLoaderAutocomplete"
														ng-if="true"
														ng-model="filtriRadioButtonObj.filtroStato"
														uib-btn-radio="'TUTTI'"
														class="btn btn-primary"
														type="button"
														ng-click="cercaMateriali();"><span class="fa fa-share"></span> <translate>TUTTI <span ng-if="ListHeaderHandling.inventario.TOT_NON_RISOLTE" class="badge bg-white">{{ListHeaderHandling.inventario.TOT_ANOMALIE}}</span></translate>
										</button>
										<button ng-disabled="!ListHeaderHandling.inventario || !modelMagazziniSelezionati || mostraLoaderMagazzini || mostraLoaderGrid || mostraLoaderAutocomplete"
														ng-if="true"
														ng-model="filtriRadioButtonObj.filtroStato"
														uib-btn-radio="'RISOLTO'"
														class="btn btn-primary"
														type="button"
														ng-click="cercaMateriali();"><span class="fa fa-check"></span> <translate>RISOLTO <span ng-if="ListHeaderHandling.inventario.TOT_NON_RISOLTE" class="badge bg-white">{{ListHeaderHandling.inventario.TOT_RISOLTE}}</span></translate>
										</button>
										<button ng-disabled="!ListHeaderHandling.inventario || !modelMagazziniSelezionati || mostraLoaderMagazzini || mostraLoaderGrid || mostraLoaderAutocomplete"
														ng-if="true"
														ng-model="filtriRadioButtonObj.filtroStato"
														uib-btn-radio="'NON RISOLTO'"
														class="btn btn-primary"
														type="button"
														ng-click="cercaMateriali();"><span class="fa fa-ban"></span> <translate>NON RISOLTO <span ng-if="ListHeaderHandling.inventario.TOT_NON_RISOLTE" class="badge bg-white">{{ListHeaderHandling.inventario.TOT_NON_RISOLTE}}</span></translate>
										</button>
									</div>

								</div>
							</div>	
							
							<!-- tolto dalla condizione di disabled e style: !ListHeaderHandling.dataApertura || !ListHeaderHandling.dataChiusura || -->
							<div class="col-md-4" ng-if="true">
								<label class="text-muted"><translate>Tipo</translate>:</label>
								<div class="input-group">

									<div class="btn-group btn-group-sm">
										<button ng-disabled="!ListHeaderHandling.inventario || !modelMagazziniSelezionati || mostraLoaderMagazzini || mostraLoaderGrid || mostraLoaderAutocomplete"
														ng-if="true"
														ng-model="filtriRadioButtonObj.filtroTipo"
														uib-btn-radio="'TUTTI'"
														class="btn btn-primary"
														type="button"
														ng-click="cercaMateriali();"><span class="fa fa-share"></span> <translate> TUTTI <span ng-if="ListHeaderHandling.inventario.TOT_NON_RISOLTE" class="badge bg-white">{{ListHeaderHandling.inventario.TOT_ANOMALIE}}</span></translate>
										</button>
										<button ng-disabled="!ListHeaderHandling.inventario || !modelMagazziniSelezionati || mostraLoaderMagazzini || mostraLoaderGrid || mostraLoaderAutocomplete"
														ng-if="true"
														ng-model="filtriRadioButtonObj.filtroTipo"
														uib-btn-radio="'QUARANTENA'"
														class="btn btn-primary"
														type="button"
														ng-click="cercaMateriali();"><span class="fa fa-exclamation-circle"></span> <translate> QUARANTENA <span ng-if="ListHeaderHandling.inventario.TOT_NON_RISOLTE" class="badge bg-white">{{ListHeaderHandling.inventario.TOT_QUARANTENE}}</span></translate>
										</button>
										<button ng-disabled="!ListHeaderHandling.inventario || !modelMagazziniSelezionati || mostraLoaderMagazzini || mostraLoaderGrid || mostraLoaderAutocomplete"
														ng-if="true"
														ng-model="filtriRadioButtonObj.filtroTipo"
														uib-btn-radio="'ECCEZIONE'"
														class="btn btn-primary"
														type="button"
														ng-click="cercaMateriali();"><span class="fa fa-exclamation-triangle"></span> <translate>ECCEZIONE <span ng-if="ListHeaderHandling.inventario.TOT_NON_RISOLTE" class="badge bg-white">{{ListHeaderHandling.inventario.TOT_ECCEZIONI}}</span></translate>
										</button>
									</div>									

								</div>
							</div>
							

						
						</div>
					
					
					
					
					
					<div ng-if="false" class="info-box {{coloreColUI}}" style="min-height: 50px;margin-bottom: 0px;">
						
						<span ng-if="true" class="info-box-icon" style="height: 50px !important;width: 50px !important;line-height: 0px !important;padding-top: 10px;">
							<div>
								<span class="badge badgeCustom" style="color: {{coloreUI}}; border: solid 2px {{coloreUI}};">
									<i class="fa {{icon2UI}} dimIcona2"></i>
								</span>
								<i class="fa {{iconUI}} dimIcona1"></i>
							</div>
						</span>
					
						<div ng-if="true" class="info-box-content" style="margin-left: 50px;">
							
			
								<!-- gestione menu funzionale della grid -->
								<div ng-if="false" class="dropdown" auto-close="outsideClick" style="float: left;padding-right: 10px;padding-top: 3px;">
									<button class="btn btn-dropbox dropdown-toggle" type="button" data-toggle="dropdown">
										<i class="fa fa-table"></i><!--&nbsp;Tools-->
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" style="width: 250px !important;background: cornsilk">
										
										<!-- gestione del mostra nascondi colonne -->
										<li class="dropdown-submenu">
											<a class="test" tabindex="-1" href="javascript:void(0)"><i class="fa fa-columns"></i>&nbsp;Mostra/Nascondi Colonne</a>
											<ul class="dropdown-menu scrollable-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button" style="width: 250px !important;background: cornsilk"> 
												<li role="menuitem">
													<a href="javascript:void(0)">
														<button  type="button"
															class="btn btn-default btn-sm"
															ng-click="selectAllColonneGrid('TUTTI');"
															>Tutti
														</button>
														<button  type="button"
															class="btn btn-default btn-sm"
															ng-click="selectAllColonneGrid('RESET');"
															>Reset
														</button>
													</a>
													<div class="divider"></div>
												</li>	
												</li>
												<li  role="menuitem" ng-repeat="(key,value) in configGridUI" ng-if="value.enabled && key !== 'FUNCTION' ">
													<div ng-if="value.divider" class="divider"></div>
													<a href="javascript:void(0)" ng-click="value.visible = !value.visible">
														<span class="text-muted"><input type="checkbox" ng-model="value.visible" ng-click="value.visible = !value.visible"> {{value.label}} </span>
													</a>
												</li>
											</ul>
										</li> <!-- gestione del mostra nascondi colonne - fine -->
										
										<li class="divider"></li>
										
										<li>
											<a tabindex="-1" href="javascript:void(0)" ng-click="getGrid();">
												<i class="fa fa-refresh"></i>&nbsp;Ricarica
											</a>
										</li>
										<li class="divider"></li>
										<li>
											
											<a tabindex="-1" href="javascript:void(0)" ng-click="clearFiltersAndOrdering(item);">
												<i class="glyphicon glyphicon-erase"></i>&nbsp;Cancella Filtri e Ricarica
											</a>
		
										</li>
										
		
										<li class="divider"></li>
										<li>
											
											<a tabindex="-1" href="javascript:void(0)" ng-click="exportToExcel();">
												<i class="fa fa-file-excel-o"></i>&nbsp;Esporta in Excel
											</a>
		
										</li>								
		
										<li class="divider" ng-if="labelUI == 'GESTIONE RICHIESTE'"></li>
										<li ng-if="labelUI == 'GESTIONE RICHIESTE'">
											
											<a tabindex="-1" href="javascript:void(0)" ng-click="openModalCreateNewRequestUI(null);">
												
												<i class="fa fa-plus"></i>&nbsp;Crea Nuova Richiesta
											</a>
		
										</li>								
		
									</ul>
								</div> <!-- gestione menu funzionale della grid - fine -->

							
							<span class="info-box-text" style="float: left;">
								<h4 style="font-weight:bold;margin-top: 0px;margin-bottom: 0px;">{{labelUI}}</h4>
								<h6 ng-if="subLabelUI" style="margin-top: 5px;margin-bottom: 0px;"><strong>{{subLabelUI}}</strong></h6>
							</span>
							
							<span ng-if="false" class="info-box-text" style="float: right;text-transform: capitalize;">
								<div style="float: left;padding-right: 10px;">Legenda:</div>
								<div style="float: right">
									<div>
										<span><i class="fa fa-archive" style="color: white;font-size: larger"></i>&nbsp;&nbsp;Dettaglio Materiali</span>
									</div>
									<div>
										<span><i class="glyphicon glyphicon-list" style="color: white;font-size: 16px"></i>&nbsp;&nbsp;Azioni Da Eseguire</span>
									</div>
								</div>
								
							</span>



							<span class="info-box-text" ng-if="false">
								<i class="fa fa-bar-chart" style="float: left;padding-right: 10px"><span class="fontPerc">&nbsp;:&nbsp;{{statisticheUI.PERC}} %</span></i>
								<i class="fa fa-archive" style="float: left"><span class="fontPerc">&nbsp;:&nbsp;{{statisticheUI.TOT}}</span></i>
							
							</span>
						</div><!-- /.info-box-content -->
						
					</div><!-- /.info-box -->
				</div>
				<div class="box-body">
					<div class="box" style="border-top-color: {{coloreUI}} !important;">
						<xy-scroll-table></xy-scroll-table>
					</div>
				</div>	
			</div>
			
		</div><!-- /.col -->
	</div><!-- /.row -->
	
</section>
