<form name="fModalAzione"  class="non-printable" role="form" autocomplete="off" novalidate>
	<div class="modal-header non-printable" ng-class="$ctrl.chiamante.color" style="padding-top: 5px;padding-bottom: 5px;">
		
		<h4 class="modal-title" id="modal-title" style="float: left;padding-top: inherit;">Risolvi {{$ctrl.item.TIPO_ANOMALIA}} sul Magazzino: {{$ctrl.item.MAGAZZINO_INVENTARIO}}</h4>	
		
		
		
		
		
		
		
		
		
		
	</div>
	<div class="modal-body non-printable uscita-merci" ng-class="$ctrl.cssSmall"	
		auto-resize-h
		auto-resize-h-event="windowResizeListener::resize"
		auto-resize-h-delta="180" id="modal-body" style="padding-bottom: 5px;">
		
		<div class="row">
			<div class="col-md-12">
				<div class="box" ng-class="{'box-info' : $ctrl.item.SEMAFORO === 'BLU',
																		'box-danger' : $ctrl.item.SEMAFORO === 'ROSSO',
																		'box-warning' : $ctrl.item.SEMAFORO === 'GIALLO',
																		}">
					<div class="box-header with-border">
						<h3 class="box-title">Dettaglio: </h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<form role="form">
							<div ng-repeat="(key,value) in $ctrl.config"
									 class="form-group form-group-sm {{$ctrl.config[key].ngClass}}">
								<label>{{$ctrl.config[key].label}}</label>
								<input ng-if="$ctrl.config[key].type !== 'textarea'" type="text" class="form-control" placeholder="" ng-model="$ctrl.item[key]" ng-disabled="true">
								<textarea ng-if="$ctrl.config[key].type === 'textarea'" class="form-control" rows="3" placeholder="Enter ..." ng-model="$ctrl.item[key]" disabled="" ng-disabled="true"></textarea>
							</div>									
						</form>
					</div>
					<!-- /.box-body -->
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="box" ng-class="{'box-info' : $ctrl.item.SEMAFORO === 'BLU',
																		'box-danger' : $ctrl.item.SEMAFORO === 'ROSSO',
																		'box-warning' : $ctrl.item.SEMAFORO === 'GIALLO',
																		}">
					<div class="box-header with-border">
						<h3 class="box-title">Note Risoluzione</h3>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<form role="form">
							<div ng-if="$ctrl.item.SEMAFORO === 'BLU'" class="form-group form-group-sm">
								<textarea ng-if="$ctrl.item.SEMAFORO === 'BLU'" class="form-control" rows="3" placeholder="Disabilitato me lo passa la vista" ng-model="$ctrl.item.NOTE_RISOLUZIONE" disabled="" ng-disabled="true"></textarea>
							</div>
							<div ng-if="$ctrl.item.SEMAFORO === 'ROSSO'" class="form-group form-group-sm">
								<textarea ng-if="$ctrl.item.SEMAFORO === 'ROSSO'"
													class="form-control" rows="3"
													placeholder="Inserisci..."
													ng-model="$ctrl.item.NOTE_RISOLUZIONE"
													ng-disabled="$ctrl.nascondiConferma || $ctrl.mostraLoaderUiModal"
													></textarea>
							</div>
							<div ng-if="$ctrl.item.SEMAFORO === 'GIALLO'" class="form-group form-group-sm">
									<div class="btn-group btn-group-sm" style="padding-bottom: 5px;">
										<button 
														ng-if="true"
														ng-model="$ctrl.filtroGiallo.valore"
														uib-btn-radio="'risoluzione per alienazione'"
														class="btn btn-default btn-md"
														type="button"
														ng-disabled="$ctrl.nascondiConferma || $ctrl.mostraLoaderUiModal"
														ng-click="$ctrl.item.NOTE_RISOLUZIONE = $ctrl.filtroGiallo.valore"><i class="fa  fa-sign-out"></i>&nbsp;Alienazione
										</button>
										<button 
														ng-if="true"
														ng-model="$ctrl.filtroGiallo.valore"
														ng-disabled="$ctrl.nascondiConferma || $ctrl.mostraLoaderUiModal"
														uib-btn-radio="'risoluzione per rientro'"
														class="btn btn-default btn-md"
														type="button"
														ng-click="$ctrl.item.NOTE_RISOLUZIONE = $ctrl.filtroGiallo.valore"><i class="fa fa-sign-in"></i>&nbsp;Rientro
										</button>
									</div>									
								<textarea ng-if="$ctrl.item.SEMAFORO === 'GIALLO'" class="form-control" rows="3" placeholder="Seleziona..." ng-model="$ctrl.item.NOTE_RISOLUZIONE" disabled="" ng-disabled="true"></textarea>
							</div>	
						</form>
					</div>
					<!-- /.box-body -->
				</div>
			</div>
		</div>		
	</div>
	
	
	
		

	<div class="modal-footer non-printable" style="padding:5px;">
		<div class="box" style="padding:0px;margin:0px;"
				ng-class="{'box-info' : $ctrl.item.SEMAFORO === 'BLU',
																		'box-danger' : $ctrl.item.SEMAFORO === 'ROSSO',
																		'box-warning' : $ctrl.item.SEMAFORO === 'GIALLO',
																		}"
				 >
			<div class="box-body" style="min-height: auto !important">
				<div class="row">
					<div class="col-sm-8" ng-if="true">
						<button ng-if="!$ctrl.nascondiConferma"
										ng-disabled="!$ctrl.item.NOTE_RISOLUZIONE	|| $ctrl.mostraLoaderUiModal"
										class="btn btn-success btn-md pull-left"
										type="button" ng-click="$ctrl.clickConferma();">
							<span class="fa fa-check"></span>&nbsp;Conferma
						</button>
					</div>
					<!-- PULSANTIERA CONFIRM -->
					<div class="col-sm-4 pull-right">
						<button ng-disabled="$ctrl.mostraLoaderUiModal" class="btn btn-default btn-md"  type="button" ng-click="$ctrl.cancel()"><span class="fa fa-remove"></span>&nbsp;Chiudi</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-include="'views/alerts.html'" class="non-printable"></div>
</form>



	








