.sirtiBackground {
  background: url(../images/sirti_logo_vwall_v2.png) no-repeat center center fixed;
  color: #FFFFFF;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.fixed .content-wrapper,
.fixed .right-side {
  padding-top: 0px;
}
.voffsetAlert {
  margin-top: 22px;
}

.fixed-search{
    top: 0px;
    z-index: 1;
    position: sticky;
    position: -webkit-sticky;
}

.disabledElem {
  opacity: 0.65;
  filter: alpha(opacity=65);
  cursor: no-drop;
}
.voffset {
  margin-top: 2px;
}
.voffset1 {
  margin-top: 5px;
}
.voffset2 {
  margin-top: 10px;
}
.voffset3 {
  margin-top: 15px;
}
.voffset4 {
  margin-top: 30px;
}
.voffset5 {
  margin-top: 40px;
}
.voffset6 {
  margin-top: 60px;
}
.voffset7 {
  margin-top: 80px;
}
.voffset8 {
  margin-top: 100px;
}
.voffset9 {
  margin-top: 150px;
}
.voffsetleft {
  margin-left: 2px;
}
.voffsetleft1 {
  margin-left: 5px;
}
.voffsetleft2 {
  margin-left: 10px;
}
.voffsetleft3 {
  margin-left: 15px;
}
.voffsetleft4 {
  margin-left: 30px;
}
.voffsetleft5 {
  margin-left: 40px;
}
.voffsetleft6 {
  margin-left: 60px;
}
.voffsetleft7 {
  margin-left: 80px;
}
.voffsetleft8 {
  margin-left: 100px;
}
.voffsetleft9 {
  margin-left: 150px;
}
.voffsetRight {
  margin-right: 2px;
}
.voffsetRight1 {
  margin-right: 5px;
}
.voffsetRight2 {
  margin-right: 10px;
}
.voffsetRight3 {
  margin-right: 15px;
}
.voffsetRight4 {
  margin-right: 30px;
}
.voffsetRight5 {
  margin-right: 40px;
}
.voffsetRight6 {
  margin-right: 60px;
}
.voffsetRight7 {
  margin-right: 80px;
}
.voffsetRight8 {
  margin-right: 100px;
}
.voffsetRight9 {
  margin-right: 150px;
}
.label-lg {
  font-size: 16px;
}
.myAnimation2.ng-enter,
.myAnimation2.ng-enter-active,
.myAnimation2.ng-move,
.myAnimation2.ng-move-active {
  -webkit-animation: lightSpeedIn 1.5s;
  -moz-animation: lightSpeedIn 1.5s;
  -ms-animation: lightSpeedIn 1.5s;
  animation: lightSpeedIn 1.5s;
}
.modal-dialog { 
	overflow: auto;
}
.modal-fullscreen { 
	width: 85%;

}
.overflow { overflow-y: auto; }

.table-responsive{
  	overflow-y: auto;
  	overflow-x: auto;
  	resize: both; 
}
.modal-dialog .entrata-merci{
	overflow-y: auto;
	height: 500px;
}

.modal-dialog .uscita-merci{
	overflow-y: auto;
	height: 500px;
}
.growl-container {
  padding-top: 47px;
}
.breadcrumb {
  font-size: 15px;
  font-weight: bold;
  margin-top: 50px;
  border-radius: 0px;
  margin-bottom: 0px;
}

.cd-breadcrumb.triangle{
  margin-top: 70px;
}
#img-logo {
  display: inline-block;
  height: auto;
  max-width: 80%;
}
.main-footer {
  background: #fff;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 5px;
  padding-right: 5px;
  color: #444;
  border-top: 1px solid #d2d6de;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 999;
}
.skin-blue .main-header .navbar {
  /* background-color: #3c8dbc; */
  background-color: #3c8dbc;
}
.skin-blue .main-header .logo {
  /* background-color: #367fa9; */
  background-color: #367fa9;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue .main-header li.user-header {
  /* background-color: #3c8dbc; */
  background-color: #3c8dbc;
}
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #1e282c;
  /* border-left-color: #3c8dbc; */
  border-left-color: #3c8dbc;
}
.skin-blue.layout-top-nav .main-header > .logo {
  /* background-color: #3c8dbc; */
  background-color: #3c8dbc;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-blue.layout-top-nav .main-header > .logo:hover {
  background-color: #3b8ab8;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
  /* background-color: #367fa9; */
  background-color: #367fa9;
}
.skin-blue .main-header .logo:hover {
  /* background-color: #357ca5; */
  background-color: #357ca5;
}
.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li.active > a {
  color: #ffffff;
  background: #1e282c;
  /* border-left-color: #3c8dbc; */
  border-left-color: #3c8dbc;
}
.bg-light-blue,
.label-primary,
.modal-primary .modal-body {
  /* background-color: #3c8dbc !important; */
  background-color: #3c8dbc !important;
}

.brand-image {
  padding: 5px 5px;
}
.avatar {
	float: left;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin-right: 10px;
	margin-top: -2px;
}

.search-button{
	margin-right: 6px;
    border-radius: 0px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.options.table-bordered   {
	border-left: 10px solid #0073b7;
}
.normal.table-bordered   {
	padding-left :9px;
}

.pre-wrap{
	white-space: pre-wrap;
	z-index:10000;
}

.subtab{
	font-size: 10px;
}

.text-sinfo-warnings{
	color: orange;
}

.subTab-overflow{
    height: 400px;
    overflow-y: scroll;
    unicode-bidi: bidi-override;
    direction: rtl;
    overflow-x: hidden!important;
    margin-top: 0px;
    margin-left: -10px;
    padding-left: 17px;
    margin-right: -1px;
    text-align: -webkit-left;
}

.nav-tabs.tab-disabled-header {
	display:none;
}

.subtab-panel > .nav.nav-tabs{
	margin-left: 15px;
	margin-right: 15px;
}

.subtab-panel .panel{
	 margin-top: -1px;
}

.subtab-panel >.panel-body{
	 padding: 0px;
}

.csaf-container > .dropdown-toggle{
    white-space: nowrap;
    display: inline-flex;
    /*width: 100%;*/
}

.small-box{
	margin:15px;
}
.inner-body{
	 padding: 13px;
}

.small-box .inner-body .inner{
	min-height: 80px;
}

.small-box > .small-box-footer{
	z-index:0;
}

.content.tail{
padding-top:0px;
padding-bottom:0px;
}

.content-header.tail{
	padding:0px;
	margin:0px;
}

.box {
	border-radius: 0px;
}
.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
    border-bottom-width: 1px;
}

.input-group-sm>.form-control, .input-group-sm>.input-group-addon, .input-group-sm>.input-group-btn>.btn{
	border-radius: 0px;
}

.growl-container{padding-top: 0px;}
