#class_sfondo_gui{		
		background-image: url(../images/sirti_logo_vwall_v4.png);
		/*background-image: url(../images/sfondo_3.jpg);*/
		/*background-image: url(../images/sfondo_20.jpg);*/
		/*opacity: 0.5;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
		background-color: rgba(255, 255, 255,0.9);
}

.box-widget{
	background-color: rgba(255, 255, 255, 0.5);
}


.badgeCustom {
	position: absolute;
	top: 10px;
	left: 35px;
	background-color: white;
}

.badgeCustomWind {
	position: absolute;
	top: 40px;
	left: 9px;
	background-color: transparent;
}

.badgeCustomGls {
	position: absolute;
	top: 40px;
	left: 52px;
	background-color: transparent;
}

.badgeCustomHomeGls {
    position: absolute;
    top: 40px;
    left: 33px;
    background-color: transparent;
}

.logoWindBadge{
	width: 60%;
}
		

.badgeCustomSirti{
	position: absolute;
	top: 41px;
	left: 7px;
	background-color: transparent;
}

.logoSirtiBadge{
	width:59%;
}

.badgeCustomSap{
	position: absolute;
	top: 40px;
	left: 14px;
	background-color: transparent;
}

.logoSapBadge{
	width: 45%;
}


/* main2 */

.badgeCustom2 {
	position: absolute;
	top: 20px;
	left: 60px;
	background-color: white;
}


.badgeCustom3 {
	position: absolute;
	top: 15px;
	left: 60px;
	background-color: white;

}

.badgeCustom3b {
	position: absolute;
	top: 10px;
	left: 45px;
	background-color: white;

}

.badgeCustomB {
	position: absolute;
	top: 15px;
	left: 70px;
	background-color: white;

}

.badgeCustomC {
	position: absolute;
	top: 10px;
	left: 70px;
	background-color: white;

}

.badgeCustomWind2 {
	position: absolute;
	top: 55px;
	left: 24px;
	background-color: transparent;
}

.logoWindBadge2{
	width: 100%;
}
		

.badgeCustomSirti2{
	position: absolute;
	top: 55px;
	left: 23px;
	background-color: transparent;
}

.logoSirtiBadge2{
	width: 100%;
}

.badgeCustomSap2{
	position: absolute;
	top: 55px;
	left: 25px;
	background-color: transparent;
}

.logoSapBadge2{
	width: 80%;
}

.colorLoghiIcone{
	color: white;
}


.badgeCustomRestMatSx {
	position: absolute;
	top: 55px;
	left: 0px;
	background-color: transparent;
}

.badgeCustomRestMatCenter {
	position: absolute;
	top: 57px;
	left: 27px;
	background-color: transparent;
}

.badgeCustomRestMatDx {
	position: absolute;
	top: 55px;
	left: 45px;
	background-color: transparent;
}

.badgeCustomRestMatSx2 {
	position: absolute;
	top: 45px;
	left: 17px;
	background-color: transparent;
}

.badgeCustomRestMatCenter2 {
	position: absolute;
	top: 47px;
	left: 43px;
	background-color: transparent;
}

.badgeCustomRestMatDx2 {
	position: absolute;
	top: 45px;
	left: 60px;
	background-color: transparent;
}

.dimIconaRestMat{
	font-size:25px !important;
}

.dimIconaRestCenter{
	font-size:20px !important;
}

.dimIconaRestMat2{
	font-size:22px !important;
}

.dimIconaRestCenter2{
	font-size:17px !important;
}



.badgeCustomRestMatSxTruck {
	position: absolute;
	top: 55px;
	left: 0px;
	background-color: transparent;
}

.badgeCustomRestMatCenterTruck {
	position: absolute;
	top: 57px;
	left: 29px;
	background-color: transparent;
}

.badgeCustomRestMatDxTruck {
	position: absolute;
	top: 55px;
	left: 51px;
	background-color: transparent;
}

.dimIconaRestMatTruck{
	font-size:21px !important;
}

.dimIconaRestCenterTruck{
	font-size:16px !important;
}

		
.fontPerc{		
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 15px;
	font-weight: normal;
}

.fontPerc2{		
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 18px;
	font-weight: normal;
}

.fontPerc3{		
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 14px;
	font-weight: normal;
}

.fontPerc4{		
	font-family: 'Source Sans Pro',sans-serif;
	font-size: 14px;
	font-weight: normal;
	padding-left: 3px;
}

.labelMenu{
	font-size: 20px !important;
	font-weight: bold !important;
	padding-top: 10px !important;
}

.iconaPerc{
	font-size: 18px !important;
}

.dimIcona2{
	font-size:10px !important;
}

.dimIcona3{
	font-size:15px !important;
}

.dimIcona1{
	font-size: 40px !important;
}

/*.inline{
 display: table-cell;
 font-weight: bold;
 word-wrap: break-word;
 white-space: nowrap;
}*/

table{
	/*white-space: nowrap;*/
}

.btn-group {
  display: inline-flex;
}

.dropdown-menu.ng-isolate-scope {
	width: 100%;
   max-height: 150px;
   overflow-y: auto;
	 /* min-width: 500px; 	*/
}	


.editDisabled{
	background-color: #eee !important;
}

.loaderTable-table {
  height: 30px;
}

@media screen {
       .etichetteListPrint, .etichetteListPrint * {
               visibility: hidden;
							 display: none;
       }
}


.bg-yellowRmaWind {
	background-color: #FBB117 !important;
	color: #fff !important;
}

.bg-steelBlueTrasfS2S {
	background-color: #4863A0 !important;
	color: #fff !important;
}

.bg-BlueJay {
	background-color: #2B547E !important;
	color: #fff !important;
}

.bg-SlateBlue {
	background-color: #737CA1 !important;
	color: #fff !important;
}

.bg-SlateBlue {
	background-color: #98AFC7 !important;
	color: #fff !important;
}

.bg-BlueGray {
	background-color: #64ABD4 !important;
	color: #fff !important;
	text-shadow: 0 1px 0 transparent !important;
}

.editFilterGrid{
	width: auto;
}

.info-box-icon{padding-top:4px;}

.errorGestSpedAct{
	border: 2px solid red !important;
}




.round {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #222;    
    color: #FFF;
    text-align: center;  
}
.round.hollow {
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #FFF;    
    color: #222;
    text-align: center;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 3px rgba(0,0,0,0.75);
}

.round.round-sm {
    height: 20px;
    width: 20px;
    line-height: 20px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-size: 0.7em;
}

.round.round-xs {
    height: 17px;
    width: 17px;
    line-height: 18px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    font-size: 0.9em;
}

.round.round-lg {
    height: 40px;
    width: 40px;
    line-height: 40px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 1.5em;
}

.round.blue {
    background-color: #3EA6CE;
}

.round.orange {
    background-color: orange;
}

.round.green {
    background-color: #42A129;
}

.round.red {
    background-color: #42A129;
}

.round.hollow.blue {
    color: #3EA6CE;   
    background-color: #FFF;    
    -webkit-box-shadow: 0px 0px 0px 3px #3EA6CE;
    -moz-box-shadow: 0px 0px 0px 3px #3EA6CE;
    box-shadow: 0px 0px 0px 3px #3EA6CE;
}

.round.hollow.orange {
    color: orange;
    background-color: #FFF;    
    -webkit-box-shadow: 0px 0px 0px 3px orange;
    -moz-box-shadow: 0px 0px 0px 3px orange;
    box-shadow: 0px 0px 0px 3px orange;
}

.round.hollow.green {
    color: #42A129;
    background-color: #FFF;    
    -webkit-box-shadow: 0px 0px 0px 3px #42A129;
    -moz-box-shadow: 0px 0px 0px 3px #42A129;
    box-shadow: 0px 0px 0px 3px #42A129;
}

.round.hollow.red {
    color: red;
    background-color: #FFF;    
    -webkit-box-shadow: 0px 0px 0px 3px red;
    -moz-box-shadow: 0px 0px 0px 3px red;
    box-shadow: 0px 0px 0px 3px red;
}


.round.hollow.green-ko {
    color: #FF6701;
    background-color: #FFF;    
    -webkit-box-shadow: 0px 0px 0px 3px #42A129;
    -moz-box-shadow: 0px 0px 0px 3px #42A129;
    box-shadow: 0px 0px 0px 3px #42A129;
}

.round.hollow.red-ko {
    color: #FF6701;
    background-color: #FFF;    
    -webkit-box-shadow: 0px 0px 0px 3px red;
    -moz-box-shadow: 0px 0px 0px 3px red;
    box-shadow: 0px 0px 0px 3px red;
}


.classSelectDisabled {
	background-color: #eee !important;
}


/* sezione spinner*/

.spinner input {
  text-align: right;
}

.input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 2%;
  vertical-align: middle;
  display: table-cell;
}

.input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 7px;
  margin-left: -2px;
  position: relative;
  border-radius: 0;
}

.input-group-btn-vertical > .btn:first-child {
  border-top-right-radius: 4px;
}

.input-group-btn-vertical > .btn:last-child {
  margin-top: -2px;
  border-bottom-right-radius: 4px;
}

.input-group-btn-vertical i {
  position: absolute;
  top: 0;
  left: 4px;
}

/* wizard */

.wizard {
    margin: 0px auto;
    background: #fff;
}

    .wizard .nav-tabs {
        position: relative;
        margin: 0px auto;
        margin-bottom: 0;
        border-bottom-color: #e0e0e0;
    }

    .wizard > div.wizard-inner {
        position: relative;
    }

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 73%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 22px;
}
span.round-tab i{
    color:#555555;
}

.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #64ABD4;
    
}
.wizard li.active span.round-tab i{
    color: #64ABD4;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 25%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #64ABD4;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #64ABD4;
}

.wizard .nav-tabs > li a {
    width: 40px;
    height: 40px;
    margin: 15px auto;
    border-radius: 100%;
    padding: 0;
}

    .wizard .nav-tabs > li a:hover {
        background: transparent;
    }

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}



span.round-tab-green {
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #00a65a;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 22px;
}
span.round-tab-green i{
    color:#00a65a;
}

.badge-notify-carrello-green{
   background:#00a65a;
   position:relative;
   top: -60px;
   left: 20px;
}

.badge-notify-step-ok{
   background:#00a65a;
   position:relative;
   top: -60px;
   left: 20px;
}

.badge-notify-carrello-default{
   background: #64ABD4;
   position:relative;
   top: -60px;
   left: 20px;
}

.pac-container {
    z-index: 10000 !important;
}



/* modal fixed haeder table*/

.tableFixedHeaderModal tbody {
    display:block;
    height: 365px;
    overflow-x: hidden;
		overflow-y: auto;
}
.tableFixedHeaderModal thead, .tableFixedHeaderModal tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
.tableFixedHeaderModal thead {
    width: calc( 100%)
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}	
	
	
.mapsSyleOk{
	color: green;
}

.mapsSyleKo{
	color: red;
}

/* gestione dei submenu */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -0px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.modal-fullscreen {
	width: 98%;
}


.navbar-form .input-group {
    display: flex;
    vertical-align: middle;
}

.navbar-form .input-group-btn {
    display: inline-table;
    vertical-align: middle;
}

.dropdown-menu.ng-isolate-scope {
	min-width: 800px !important;
}